@import "../background-image.scss";
@import "../layout.scss";
@import "../fonts/BookSanity";
@import "../fonts/MrJeeves";
@import "../fonts/ScalySans";
@import "../fonts/Solberry";
@import "../printer-settings.scss";

@page {
  margin: 0;
}

@include background-image("5E", "5E");

.pages .page {
  @media screen {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
      0px 1px 5px 0px rgba(0, 0, 0, 0.12);

    border-radius: 2px;
    margin-bottom: 8px;
  }

  column-count: 2;
  column-fill: auto;

  counter-increment: page-numbers;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  background-color: #eee5ce;
  background-position: center;
  font-family: BookSanity;
  font-size: 0.317cm;
  text-rendering: optimizeLegibility;
  page-break-before: always;
  page-break-after: always;

  & .cover {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin: 22ch 0 3ch;
    }
  }

  @import "./header.scss";

  & h1 + p::first-letter {
    font-size: 10em;
    float: left;
    font-family: Solberry;
    color: #222;
    line-height: 1em;
    margin-right: 0.1em;
  }

  & hr {
    visibility: hidden;
    margin: 0;
  }

  & pre,
  & code {
    visibility: hidden;
    -webkit-column-break-after: always;
  }
  & sup,
  sub {
    font-size: smaller;
    line-height: 0;
    position: initial;
  }
  & sup {
    vertical-align: super;
  }

  & sub {
    vertical-align: sub;
  }
  & ul,
  & ol {
    margin-bottom: 0.8em;
    padding-left: 1.4em;
    line-height: 1.3em;
    list-style-position: outside;

    & + p {
      text-indent: 1em;
    }
  }
  & ul {
    list-style-type: disc;
  }

  & ol {
    list-style-type: decimal;
  }
  & p,
  & blockquote,
  & table {
    page-break-inside: avoid;
    break-inside: avoid;
    padding-bottom: 0.8em;
    line-height: 1.3em;
    margin: 0;
    border-collapse: collapse;
    /* border-spacing: 0; */
  }

  & table {
    font-family: ScalySans;
    width: 100%;
    margin-bottom: 1em;
    font-size: 10pt;
    thead {
      display: table-row-group;
      font-weight: 800;

      th {
        vertical-align: bottom;
        padding-bottom: 0.3em;
        padding-right: 0.1em;
        padding-left: 0.1em;
      }
    }

    tbody {
      tr:nth-child(odd) {
        background-color: #e0e5c1;
      }

      tr td {
        padding: 0.3em 0.1em;
      }
    }
  }

  & .classTable {
    margin: 25px 0 40px;
    border-collapse: separate;
    background-color: #fff;
    border: initial;
    border-style: solid;
    border-image-outset: 25px 17px;
    border-image-repeat: stretch;
    border-image-slice: 150 200 150 200;
    border-image-source: url(/assets/table.png);
    border-image-width: 47px;
  }

  & p + p {
    text-indent: 1em;
    margin-top: -0.8em;
  }

  & blockquote {
    font-family: ScalySans;
    box-sizing: border-box;
    margin-bottom: 1em;
    padding: 5px 10px;
    background-color: #e0e5c1;
    border-style: solid;
    border-width: 11px;
    border-image: url("/assets/blockquote.png") 11;
    border-image-outset: 9px 0;
    box-shadow: 1px 4px 14px #888;
  }

  & .wide {
    column-span: all;
  }

  & .footnote {
    position: absolute;
    right: 80px;
    bottom: 32px;
    z-index: 150;
    width: 200px;
    font-size: 0.8em;
    color: #c9ad6a;
    text-align: right;
  }

  & .pageNumber {
    position: absolute;
    right: 2px;
    bottom: 22px;
    width: 50px;
    font-size: 0.9em;
    color: #c9ad6a;
    text-align: center;
  }

  & .pageNumber.auto::after {
    content: counter(page-numbers);
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-image: url("/assets/footer.png");
    background-size: cover;
  }
}
