& h1,
& h2,
& h3,
& h4,
& h5,
& h6 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-family: MrJeeves;
  font-weight: 800;
  color: #58180d;
  line-height: initial;
  clear: left;
}

& h1 {
  font-size: 0.987cm;
  column-span: all;
}

& h2 {
  font-size: 0.705cm;
}

& h3 {
  font-size: 0.529cm;
  border-bottom: 2px solid #c9ad6a;
}

& h4 {
  font-size: 0.458cm;
  margin-bottom: 0;
}

& h5 {
  font-size: 0.423cm;
  font-weight: 900;
  font-family: ScalySansSmallCaps;
  margin-bottom: 0.2em;
  color: initial;
}
