
.letter-portrait .page{
  height: 11in;
  width: 8.5in;
  padding: .75in;
  column-gap: .25in;
  column-width: (8.5in - 2 * .75in - .25in) / 2;
}

.letter-landscape .page{
  height: 8.5in;
  width: 11in;
  padding: .75in;
  column-gap: .5in;
  column-width: (11in - 2 * .75in - .5in) / 2;
}

.a4-portrait .page{
  height: 297mm;
  width: 210mm;
  padding: .75in 1in;
  column-gap: .25in;
  column-width: (210mm - 2 * 1in - .25in) / 2;
}

.a4-landscape .page{
  height: 210mm;
  width: 297mm;
  padding: .75in 1in;
  column-gap: .5in;
  column-width: (297mm - 2 * 1in - .5in) / 2;
}